

<body>
  <table>
  <p id="notice">Book was successfully created.</p>

  <% @book.each do |book| %>

    <p>title:</p>
    <span><%= book.title %></span>

  <% end %>
  </table>
</body>

<a class="edit_100633" href="/books/100633/edit">Edit</a>
 |
<a class="back" href="/books">Back</a>